<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <title>CANEecom</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      

      {% block extra_css %}{% endblock %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
      <script type="text/javascript">
      
        var user = '{{ request.user }}'
        function getToken(name){
          var cookieValue=null;
          if(document.cookie && document.cookie !==''){
            var cookies = document.cookie.split(';');
            for(var i=0;i<cookies.length;i++)
          {
            var cookie=cookies[i].trim();
            if(cookie.substring(0,name.length + 1)=== (name +'='))
          {
            cookieValue=decodeURIComponent(cookie.substring(name.length+1));
            break;
          }
          }
          }
          return cookieValue;
        }
        var csrftoken=getToken('csrftoken');

        function getCookie(name){
          //Split cookie string and get all individual name = value pairs in an array
          var cookieArr = document.cookie.split(";");

          //Loop through the array elements
          for(var i = 0; i < cookieArr.length; i++){
            var cookiePair = cookieArr[i].split("=");

            /* Removing whitespace at the beginning of the cookie name and compare it with the given string */
            if(name == cookiePair[0].trim()){
              //Decode the cookie value and return
              return decodeURIComponent(cookiePair[1]);
            }
          }
          //Return null if not found 
          return null;
        }
        var cart = JSON.parse(getCookie('cart'))

        if(cart == undefined){
          cart={}
          console.log('Cart was created!',cart)
          document.cookie='cart='+JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:',cart)
      </script>
    </head>
    <body>
      
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="{% url 'store' %}">CANEecomm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <select id="shopSelect">
          <option value="all">all</option>
          {% for shop in shops %}
            <option value={{shop.id}}>{{ shop.name }}</option>
          {% endfor %}
        </select>
        <form id="navSearch">
          <input type="search" placeholder="Search" id="navSearchInput" name="search" value="">
          <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        </form>
        {% if shop_owner %}
        <a href="shop_admin_panel" class="navbar-toggle btn btn-transparent ms-2">Manage</a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% comment %} <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'store' %}">Home</a>
            </li> 
          </ul> {% endcomment %}
              
        </div>
        <div class="d-flex">
          <a href="{% url 'log_in' %}" class="btn" id="log-in">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="white" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg>
            Login
          </a>
          <span class="btn" id="|">
          |
          </span>
          <a href="{% url 'logout' %}" class="btn" id="log-out">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="white" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg>
            Logout
          </a>
          
          <a href="{% url 'signup' %}" class="btn" id="sign-up">
            SignUp
          </a>
          
          <a href="{% url 'cart' %}" class="btn">
              <img src="{% static 'image/cart.png' %}" id="cart-icon">
          </a>
          <p id="cart-total">{{cartItems}}</p>
          </div>
      </nav>
      <div class="my-container">
          {% block content %}
          {% endblock content %}
      </div>
        
      

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/store.js' %}" /></script>
        <script>
          if(user!='AnonymousUser')
            {
              document.getElementById('log-in').innerHTML=''
              document.getElementById('sign-up').innerHTML=''
              document.getElementById('|').innerHTML=''
              
            }
            else
            {
              
              document.getElementById('log-out').innerHTML=''
            }


        </script>
    </body>
</html>