{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/signUpForm.css' %}">
    
</head>
<body>
    <div class="container">
        <p>Enter your email address to receive a link to reset your password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
        </form>
    
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

   
</body>
</html>
