{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div id="hero" style="background-image: url('{% static "image/Hero.jpeg"%}')">
    <h1>Cane Craft</h1>
</div>
<div class="row " id="productsAndCategoriesContainer">
    <div class="col-lg-3">
        <h2>Category</h2>
        <form class="col" id="category-select-form">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% for category in categories %}
            <input type="radio" name="category" value="{{ category.id }}"> {{ category.name }}<br>
           
            {% endfor ß%}
        </form>
    {% comment %} <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('submit','#category-select-form',function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        console.log("saved")
                    },
                    error: function(xhr, errmsg, err) {
                        alert('An error occurred: ' + errmsg);
                    }
                });
            });
        })
    </script> {% endcomment %}
   

    </div>
    <div class="row col-lg-9 gx-5">
        {% for product in products %}
        <div class="col-sm-4 col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                    <hr>
    
                    <button  data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="float: right; "><strong>${{product.price|floatformat:2}}</strong></h4>
    
            </div>
        </div>
        {% endfor %}
        
    </div>
    
</div>
<script src="{% static 'js/categoryFilter.js' %}"></script>
{% endblock content %}