
{% extends "store/adminPanel/adminPanelLayout.html" %}
{% load static %}
{% block shopAdminPanelContent %}
<div>
    <table>
        <th>
            <td>
                product 
            </td>
            <td>
                image
            </td>
            <td>
                price
            </td>
            <td>
                price
            </td>
            <td>
                quantity
            </td>
            <td>
                total
            </td>
        </th>
    </table>
</div>

{% endblock %}