{% extends "store/adminPanel/adminPanelLayout.html" %}
{% load static %}
{% block shopAdminPanelContent %}
<div>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px; font-family: Arial, sans-serif; font-size: 14px;">
        <thead>
            <tr style="background-color: #f2f2f2; text-align: left;">
                <th style="padding: 12px; border-bottom: 2px solid #ccc; border-right: 1px solid #ddd;">Name</th>
                <th style="padding: 12px; border-bottom: 2px solid #ccc; border-right: 1px solid #ddd;">Email</th>
                <th style="padding: 12px; border-bottom: 2px solid #ccc; border-right: 1px solid #ddd;">Address</th>
                <th style="padding: 12px; border-bottom: 2px solid #ccc; border-right: 1px solid #ddd;">Date ordered</th>
                <th style="padding: 12px; border-bottom: 2px solid #ccc;">Action</th>
            </tr>
        </thead>
         
        <tbody>
            {% for order in order_data %}
            <tr style="border-bottom: 1px solid #ddd; text-align: left; background-color: #fff; transition: background-color 0.3s ease;">
                <td style="padding: 15px; border-right: 1px solid #ddd; color: #2c3e50; font-weight: bold;">{{ order.customer_name }}</td>
                <td style="padding: 15px; border-right: 1px solid #ddd; color: #2980b9;">{{ order.customer_email }}</td>
                <td style="padding: 15px; border-right: 1px solid #ddd; color: #16a085;">{{ order.shipping_address.address }}</td>
                <td style="padding: 15px; border-right: 1px solid #ddd; color: #8e44ad;">{{ order.date_ordered }}</td>
                <td style="padding: 15px; text-align: center;">
                    <a href="{% url 'order-details' order.id %}">
                        <button data-order-id="{{ order.id }}" class="view-order-btn" 
                            style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 14px;">
                            View Order
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
        
    </table>
    
    <script>

    const viewOrderButton = document.querySelectorAll(".view-order-btn");
    console.log(viewOrderButton)

    viewOrderButton.forEach(button => {
        button.addEventListener('click', function () {
            const orderId = this.getAttribute('data-order-id');
            console.log('Order ID:', orderId);

            // Add your logic to handle the order view here
    });
    </script>
</div>

{% endblock %}