body{
	background-color:  #ffffff!important;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

nav {
	padding-left: 10%;
	padding-right: 10%;
	height: 100px;
	
}


.my-container {
	padding: 0;
	margin: 0;
	width: 100vw;
	position: relative;
}

/* 
#products-container {
	padding-left: 6%;
	padding-right: 6%;
} */

.products {
	background-image: linear-gradient(to bottom, rgb(255, 246, 246m 0), rgba(0, 0, 0, 0.5));
	backdrop-filter: blur(10px);
	background-size: 100% 300px; /* adjust the height to your needs */
	background-position: 0% 100%;
	
}


.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 250px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}


.bg-dark{
	background-color: #000000!important;
}

nav {
	background-color: rgb(15, 11, 11);
}

nav .btn {
	color:white
}

.btn:hover {
	color: white
}

nav select {
	outline: none;
	background-color: transparent;
	border: none;
	color: white;
	margin-right: 20px;
}

#hero {
	position: relative;
	height: 50vh;
	background-image: url("{% static 'image/Hero.jpeg' %}");
	background-size: cover; /* Ensure the image covers the whole section */
	background-position: center; /* Center the image */
}

#hero h1{
	position: absolute;
	top: 40%; /* Center the h1 vertically */
	left: 50%; /* Center the h1 horizontally */
	transform: translate(-50%, -50%); 
	color: white;
	font-size: 60px;
}

#hero h3{
	position: absolute;
	top: 60%; /* Center the h1 vertically */
	left: 48%; /* Center the h1 horizontally */
	transform: translate(-50%, -50%); 
	color: rgb(255, 253, 253);
	font-size: 30px;
}



#navSearch{
	background-color: white;
	width: 55%;
	height: 35px;
	display: flex;
  	align-items: center;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 5px;
}

#navSearch button {
	border:none
}

#navSearchInput {
	outline: none;
	border:none;
	padding:none;
	flex: 1;
}

#category-container {
	background-color: red;
}


#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
}

#productsAndCategoriesContainer {
	width: 100vw;
	margin-top: 100px;
	padding-left: 5%;
	padding-right: 5% ;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-bottom: 30px;
}

.btn{
	border-radius: 0;
}


.row-image{
	width: 90px;
	height: 55px
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.product{
	border-radius: 0 0 4px 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #8f720e;
	transition: transform 0.4s ease-in;
	height: 350px;
	/* overflow-x: hidden; */
}

.product-img-container {
	width: 250px;
	height: 250px;
	border-radius: 5px;	
}

.product-img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	
}

.product:hover{
	position: absolute;
	z-index: 10;
	left: 15px;
	right: 50%;
	width: 300px;
	height: 500px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add a shadow effect */
    transition: opacity 1s ease-in-out; /* add a transition effect */
}


#product-price {
	font-size:medium ;
}


.test-bg {
	background-color: red;
}

.col-contianer {
	position: relative;
}

.add-to-cart {
	color: white;
	font-size: small;
	border-radius: 5%;
	background-color: #a8891a;
	display: none; /* initially hide the add-to-cart button */
}

.product:hover .add-to-cart {
	display: block; /* show the add-to-cart button on hover */
  }