/* body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #333;
	padding: 10px 20px;
	color: white;
}
.navbar .logo {
	font-size: 24px;
}
.navbar .nav-links {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.navbar .nav-links li {
	margin: 0 10px;
}
.navbar .nav-links a {
	color: white;
	text-decoration: none;
}
.form-inline {
    display: flex;
    align-items: center;
    margin: 0 auto; 
    max-width: 600px;
}
.form-control {
    width: 100%; 
    margin-right: 10px; 
    border-radius: 30px;
    border: 1px solid #ced4da; 
    padding: 0.5rem 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}
.btn.btn-warning {
    color: #000; 
    background-color: #ffc107;
    border-color: #ffc107; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    border-radius: 0.25rem; 
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, border-color 0.2s; 
}

.btn.btn-warning:hover {
    background-color: #e0a800; 
    border-color: #d39e00; 
    color: #000; 
}

.btn.btn-warning:focus, .btn.btn-warning:active {
    background-color: #e0a800; 
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5); 
    outline: none; 
}
.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: none;
}
#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}
#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}
.btn{
	border-radius: 0;
}
.btn-outline-success {
    color: #fff; 
    background-color: #28a745;
    border-color: #28a745; 
    padding: 0.5rem 1rem;
    border-radius: 30px; 
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; 
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  li.dropdown {
	display: inline-block;
  }
  .arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  }
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #1d0202;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(235, 7, 7, 0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: red;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f10a0a;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  } */